// Primary Colors
$primary-1: #1C1C1C;
$primary-2: #D7C9AC; 
$primary-3: #D7AD4A; 
$primary-4: #7C6C4B; 

// Secondary Colors
$secondary-1: #A38A41;
$secondary-2: #F7C262; 
$secondary-3: #CDAA66; 
$secondary-4: #EDACAA; 

// Tertiary Colors
$tertiary-1: #B45B3B;
$tertiary-2: #6C3F2A; 
$tertiary-3: #734837; 
$tertiary-4: #B35D4E; 

// Quaternary Colors
$quaternary-1: #93B053;
$quaternary-2: #5B6334; 
$quaternary-3: #6C6A35; 
$quaternary-4: #546D45; 

// Neutral Colors
$neutral-1: #000000;
$neutral-2: #4D4D4D; 
$neutral-3: #808080; 
$neutral-4: #CCCCCC;
$neutral-5: #F5F5F5; 
$neutral-6: #C1C1C1; 