@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

// Base styles for typography
body {
  font-family: 'Manrope', sans-serif;
}

// inter font used in read more button
.inter-button {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}


// English Manrope body style
.eng-manrope-body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.36625; // 21.86px / 16px
  text-align: left;
}

// Thai Sarabun body style
.thai-sarabun-body {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3; // 20.8px / 16px
  text-align: left;
}

// Thai Sarabun head style
.thai-sarabun-head {
  font-family: 'Sarabun', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3; // 62.4px / 48px
  text-align: left;
}

// English Manrope head style
.eng-manrope-head {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.365; // 65.57px / 48px
  text-align: left;
}

// Thai Sarabun subhead style
.thai-sarabun-subhead {
  font-family: 'Sarabun', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3; // 41.6px / 32px
  text-align: left;
}

// English Manrope subhead style
.eng-manrope-subhead {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.366; // 43.71px / 32px
  text-align: left;
}

// English Manrope bold body text style
.eng-manrope-body-bold {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.36625; // 21.86px / 16px
  text-align: left;
}

// Thai Sarabun bold body text style
.thai-sarabun-body-bold {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3; // 20.8px / 16px
  text-align: left;
}

// Thai Sarabun bold head text style
.thai-sarabun-head-bold {
  font-family: 'Sarabun', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3; // 62.4px / 48px
  text-align: left;
}

// Thai Sarabun bold head text style
.thai-sarabun-head-bold-32 {
  font-family: 'Sarabun', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  text-align: left;
}

// English Manrope bold head text style
.eng-manrope-head-bold {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.365; // 65.57px / 48px
  text-align: left;
}

// Thai Sarabun bold subhead text style
.thai-sarabun-subhead-bold {
  font-family: 'Sarabun', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3; // 41.6px / 32px
  text-align: left;
}

// English Manrope bold subhead text style
.eng-manrope-subhead-bold {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.366; // 43.71px / 32px
  text-align: left;
}


