.circle-title {
  box-shadow: 0px 0px 55px 0px #E0B9CC;
}

.content-container {
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('/src/assets/images/guan-yin/7b167eba0ec42d57da98c65e314e6d71.jpg');
}

.youtube-background-image {
  background-image: url('/src/assets/images/guan-yin/6f941325b42b9f5d9024500b290129fd.jpg');
}