// Forward Button
.forward-arrow-button {
  background-image: url('/src/assets/icons/forward-arrow.png');
  transition: background-image 0.3s ease-in-out;
  background-size: contain;
  width: 67px;
  height: 67px;
}

.forward-arrow-button:hover {
  background-image: url('/src/assets/icons/forward-arrow-hover.png');
  background-size: contain;
  width: 67px;
  height: 67px;
}

// Arrow Up
.arrow-up-button {
  background-image: url('/src/assets/icons/arrow.png');
  transition: background-image 0.3s ease-in-out;
  background-size: contain;
  width: 67px;
  height: 67px;
}

.arrow-up-button:hover {
  background-image: url('/src/assets/icons/arrow-hover.png');
  background-size: contain;
  width: 67px;
  height: 67px;
}

// Arrow Down
.arrow-down-button {
  background-image: url('/src/assets/icons/arrow.png');
  transition: background-image 0.3s ease-in-out;
  transform: rotate(180deg);
  background-size: contain;
  width: 67px;
  height: 67px;
}

.arrow-down-button:hover {
  background-image: url('/src/assets/icons/arrow-hover.png');
  background-size: contain;
  width: 67px;
  height: 67px;
}

// Arrow Left
.arrow-left-button {
  background-image: url('/src/assets/icons/arrow.png');
  transition: background-image 0.3s ease-in-out;
  transform: rotate(-90deg);
  background-size: contain;
  width: 40px;
  height: 40px;
}

.arrow-left-button:hover {
  background-image: url('/src/assets/icons/arrow-hover.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

// Arrow Right
.arrow-right-button {
  background-image: url('/src/assets/icons/arrow.png');
  transition: background-image 0.3s ease-in-out;
  transform: rotate(90deg);
  background-size: contain;
  width: 40px;
  height: 40px;
}

.arrow-right-button:hover {
  background-image: url('/src/assets/icons/arrow-hover.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

// Home Button
.home-button {
  background-image: url('/src/assets/icons/home-button.png');
  width: 74px;
  height: 72px;
  top: 182px;
  left: 1033px;
  gap: 0px;
  opacity: 0px;
}

// Up Button
.up-button {
  background-image: url('/src/assets/icons/button-up.png');
  width: 74px;
  height: 72px;
  top: 99px;
  left: 1033px;
  gap: 0px;
  opacity: 0px;
}