nav {
  background-color: $primary-1;
  height: 81px;
}

.chevron-down {
  width: 15px;
  height: 15px;
}

.menu-bar-0 {
  width: 253px;
  height: 81px;
}

.menu-bar-1 {
  width: 129px;
  height: 81px;
}

.menu-bar-1:hover {
  background-color: $primary-3;
  color: $neutral-1;
  transition: 0.3s ease-in-out;
  width: 129px;
  height: 81px;
}

.menu-bar-2 {
  width: 129px;
  height: 81px;
}

.menu-bar-2-dropdown {
  background: $primary-2;
  color: $neutral-1;
  width: 129px;
  margin-top: 5px;
}

.menu-bar-2:hover {
  background-color: $primary-3;
  color: $neutral-1;
  transition: 0.3s ease-in-out;
  width: 129px;
  height: 81px;
}

.menu-bar-3 {
  width: 129px;
  height: 81px;
}

.menu-bar-3:hover {
  background-color: $primary-3;
  color: $neutral-1;
  transition: 0.3s ease-in-out;
  width: 129px;
  height: 81px;
}

.menu-bar-4 {
  width: 129px;
  height: 81px;
}

.menu-bar-4:hover {
  background-color: $primary-3;
  color: $neutral-1;
  transition: 0.3s ease-in-out;
  width: 129px;
  height: 81px;
}

.menu-bar-5 {
  width: 129px;
  height: 81px;
}

.menu-bar-5:hover {
  background-color: $primary-3;
  color: $neutral-1;
  transition: 0.3s ease-in-out;
  width: 129px;
  height: 81px;
}